{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Manager Gospodarstwa{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'sow/css/app.css' %}">
    <script src="{% static 'sow/js/table_manager.js' %}"></script>
    {% block extra_head %}{% endblock %}

</head>
<body class="bg-gray-100 font-sans leading-normal tracking-normal min-h-screen">
    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}
</body>
</html>